.ExperienceSection {

   h2 {
      font-size: 1.2em;
      font-family: Inter, system-ui;
   }

   .content {
      width: 70%;

      .content-header {
         display: flex;
      }

      @media screen and (max-width: 1024px) {
         max-width: 100%;
      }
   }

   .tags {
      color: var(--silver-color);
      width: max-content;
      padding: 0;
      list-style: none;

      @media screen and (max-width: 1024px) {
         width: 100%;
         padding-left: 1em;
      }

      @media screen and (max-width: 600px) {
         width: 100%;
         padding-left: 1em;
      }
   }

   .resume {
      position: fixed;
      font-size: 1em;
      margin-right: 2%;
      bottom: 10%;
      right: 0;
      background-color: var(--aquamarine-green-color);
      color: var(--jet-black-color);
      padding: 0.5em;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      text-align: center;
      justify-content: center;
      text-decoration: none;
      font-weight: bold;
      z-index: 1;

      @media screen and (max-width: 1024px) {
         position: relative;
         bottom: unset;
         right: unset;
         z-index: 0;
         margin-top: 1em;
      }

      &:active {
         box-shadow: 0 5px 4px 0 #00000040;
         transition-duration: 0.2s;
         transform: translateY(4px);
      }
   }
}