.ProjectSection {

   .project-list {
      display: flex;
      flex-direction: column;
      width: 70%;
      height: 70%;
      overflow-y: auto;
      border-radius: 10px;

      @media screen and (max-width: 1024px) {
         width: 100%;
         height: auto;
      }

      @media screen and (min-width: 600px) {
         &::-webkit-scrollbar {
            width: 2px;
         }

         &::-webkit-scrollbar-track {
            background: var(--jet-black-color);
         }

         &::-webkit-scrollbar-thumb {
            background: var(--aquamarine-green-color);
         }

         &::-webkit-scrollbar-thumb:hover {
            background: #ffffff;
         }
      }
   }

   .project-card {
      margin-top: 10px;
      width: clip(100px, 100%, 300px);
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 1em;
      background-color: var(--fair-black-color);
      border-radius: 10px;
      box-shadow: 0 0 2px #00000040;

      &:hover {
         -moz-box-shadow: 0 0 8px #00000040;
         -webkit-box-shadow: 0 0 8px #00000040;
         box-shadow: 0 0 8px #00000040;
      }

      @media screen and (max-width: 1024px) {
         flex-direction: column;
         align-items: flex-start;
      }
   }

   .arrow i {
      rotate: -45deg;
      transition: transform 0.25s ease-in;
   }

   .card-header {
      width: fit-content;

      .title {
         font-size: 1.2em;
         font-weight: bold;
         display: inline-block;
         margin-right: 10px;
         color: white;
         text-decoration: none;
      }

      &:hover {
         cursor: pointer;

         .title,
         .arrow i {
            color: lightgrey;
         }

         .arrow i {
            transform: translate(5px);
            transition: transform 0.25s ease-out;
         }
      }
   }

   .card-description {
      line-height: 1.6;
   }

   .card-tags {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      max-width: 100%;
      grid-gap: 8px;
      gap: 8px;
      padding-inline-start: 0;

      li {
         max-width: fit-content;
         max-height: fit-content;
         list-style: none;
         background-color: var(--aquamarine-green-color);
         color: var(--jet-black-color);
         padding: 4px 12px;
         border-radius: 15px;
         font-size: 0.8em;
      }
   }

   .icon {
      margin: 10px;
      max-width: 78px;
      max-height: 122px;
      display: block;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;

      @media screen and (max-width: 1024px) {
         display: none;
      }
   }
}