.description {
    width: auto;
    height: auto;
    max-width: 540px;
    font-size: 20px;
    line-height: 1.6;
}

.animate {
    animation-duration: 1s;
}

.slideInLeft.animate {
    animation-name: slideInFromLeft;
}

.slideInRight.animate {
    animation-name: slideInFromRight;
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

/* Large devices (laptops/desktops, 1200px and down) */
@media only screen and (max-width: 1200px) and (max-height: 600px) {
    .section h1 {
        font-size: 2.5em;
    }

    .description {
        font-size: 18px;
    }
}

/* Extra small devices (phones, 992px and above) */
@media only screen and (max-width: 992px) {
    .section h1 {
        font-size: 2.5em;
    }

    .description {
        font-size: 18px;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .section {
        margin-right: 30px;
        margin-left: 30px;
    }

    .section h1 {
        font-size: 1.6em;
    }

    .description {
        font-size: 17px;
    }
}