.description {
    color: white;
    width: auto;
    height: auto;
    max-width: 700px;
    font-size: 20px;
    line-height: 1.6;
    text-align: center;
}

/* Large devices (laptops/desktops, 1200px and down) */
@media only screen and (max-width: 1200px) and (max-height: 600px) {
    .section h1 {
        font-size: 1.8em;
    }

    .section h2 {
        font-size: 1.5em;
    }

    .section h3 {
        font-size: 1em;
    }
}

/* Large devices (laptops/desktops, 1200px and down) */
@media only screen and (max-width: 1200px) and (min-height: 600px) {
    .section h1 {
        font-size: 1.8em;
    }

    .section h2 {
        font-size: 1.5em;
    }

    .section h3 {
        font-size: 1em;
    }
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .section {
        margin: 30px;
    }

    .section h1 {
        font-size: 1.8em;
    }

    .section h2 {
        font-size: 1.5em;
    }

    .section h3 {
        font-size: 1em;
    }
}