.root {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: "Andika New Basic", system-ui;
    background: var(--jet-black-color);
    color: white;
    scroll-snap-type: y mandatory;
    scroll-snap-stop: always;
    scroll-behavior: smooth;

    --fair-black-color: #3B393A;
    --turquoise-green-color: #2AB38A;
    --poppy-red-color: #D14141;
    --anti-flash-white-color: #F0F0F0;
    --aquarmine-green-color: #4CE0B3;
    --jet-black-color: #2F2D2E;
    --semi-transparent: rgba(0, 0, 0, 0.4);
}

.container {
    position: fixed;
    margin-right: 68px;
    top: 45%;
    right: 0;
    transform: translateY(-50%);
    background-color: transparent;
    width: max-content;
    height: auto;
    display: block;
    z-index: 1;
}

.active {
    content: "";
    color: var(--jet-black-color);
    background-color: var(--aquarmine-green-color);
    position: absolute;
    width: max-content;
}

.home, .about, .experience, .projects, .contact {
    font-size: 16px;
    font-weight: bold;
    font-family: "Andika New Basic", system-ui;
    position: relative;
    width: max-content;
    height: auto;
    padding: 3px;
    cursor: pointer;
    list-style: none;
}

.home.active::before, .about.active::before, .experience.active::before, .projects.active::before, .contact.active::before {
    width: 60px;
    transform: scaleX(1);
    transition: transform 0.5s ease-out;
}

.home::before, .about::before, .experience::before, .projects::before, .contact::before {
    content: "";
    width: 60px;
    height: 1px;
    background-color: var(--aquarmine-green-color);
    position: absolute;
    top: 50%;
    left: -60px;
    transform: scaleX(0.5);
    transform-origin: bottom left;
    transition: transform 0.5s ease-out;
}

.home:hover::before, .about:hover::before, .experience:hover::before, .projects:hover::before, .contact:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

::-webkit-scrollbar {
    width: 0;
}

::-webkit-scrollbar-track {
    background: #000000;
}

::-webkit-scrollbar-thumb {
    background: #ffffff;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}

@media only screen and (max-width: 1200px) {
    .container {
        margin-right: 28px;
    }

    .home, .about, .experience, .projects, .contact {
        font-size: 16px;
    }

    .home.active::before, .about.active::before, .experience.active::before, .projects.active::before, .contact.active::before {
        width: 40px;
        transform: scaleX(1);
        transition: transform 0.5s ease-out;
    }

    .home::before, .about::before, .experience::before, .projects::before, .contact::before {
        content: "";
        width: 40px;
        height: 1px;
        left: -40px;
        transform: scaleX(0.5);
        transform-origin: bottom left;
        transition: transform 0.5s ease-out;
    }

    .home:hover::before, .about:hover::before, .experience:hover::before, .projects:hover::before, .contact:hover::before {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
}

@media only screen and (max-width: 800px) {
    .container {
        margin-right: 3px;
    }

    .home, .about, .experience, .projects, .contact {
        font-size: 16px;
    }

    .home.active::before, .about.active::before, .experience.active::before, .projects.active::before, .contact.active::before {
        width: 40px;
        transform: scaleX(1);
        transition: transform 0.5s ease-out;
    }

    .home::before, .about::before, .experience::before, .projects::before, .contact::before {
        content: "";
        width: 40px;
        height: 1px;
        left: -40px;
        transform: scaleX(0.5);
        transform-origin: bottom left;
        transition: transform 0.5s ease-out;
    }

    .home:hover::before, .about:hover::before, .experience:hover::before, .projects:hover::before, .contact:hover::before {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
}

@media only screen and (max-width: 600px) {
    .root {
        scroll-snap-type: none;
        scroll-snap-stop: normal;
        scroll-behavior: auto;
    }

    ::-webkit-scrollbar {
        width: 2px;
    }

    .container {
        visibility: hidden;
    }
}