.root {
    position: relative;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: "Andika New Basic", system-ui;
    background: var(--jet-black-color);

    --turquoise-green-color: #2AB38A;
    --poppy-red-color: #D14141;
    --anti-flash-white-color: #F0F0F0;
    --smoke-white-color: #F5F3F5;
    --aquarmine-green-color: #4CE0B3;
    --jet-black-color: #2F2D2E;
    --blue-color-rgb: rgb(84, 108, 130);
    --blue-color: #546c82;
    --gray-color: #d3d3d3;
    --green-color: #329680;
    --semi-transparent: rgba(0, 0, 0, 0.4);
}

.container {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--smoke-white-color);
    margin: 28px auto 0;
    width: max-content;
    height: auto;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    z-index: 1;
    float: left;
}

.active {
    border-radius: 10px;
    background-color: var(--jet-black-color);
}

.active .home, .active .projects, .active .about, .active .contact {
    font-weight: bold;
    color: var(--smoke-white-color);
}

.home, .projects, .about, .contact {
    font-size: 18px;
    font-family: "Inter", system-ui;
    position: relative;
    display: inline-block;
    width: auto;
    height: auto;
    float: left;
    margin: 3px;
    padding: 10px;
    cursor: pointer;
    color: var(--jet-black-color);
}

.home::after, .projects::after, .about::after, .contact::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--aquarmine-green-color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    z-index: -1;
}

.home:hover::after, .projects:hover::after, .about:hover::after, .contact:hover::after  {
    transform: scaleX(1);
    transform-origin: bottom left;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #000000;
}

::-webkit-scrollbar-thumb {
    background: #ffffff;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}

/* Large devices (laptops/desktops, 997px and up) */
@media only screen and (max-width: 1200px) {
    .home, .projects, .about, .contact {
        font-size: 18px;
    }
}

/* Medium devices (landscape tablets, 750px and up) */
@media only screen and (max-width: 997px) {
    .home, .projects, .about, .contact {
        font-size: 14px;
    }
}

/* Extra small devices (phones, 320px and above) */
@media only screen and (max-width: 750px) {
    .container {
        bottom: 0;
        margin-top: 0;
        margin-bottom: 28px;
        padding: 5px;
        left: 50%;
    }

    .home, .projects, .about, .contact {
        font-size: 16px;
    }
}

/* Extra small devices (phones, 320px and above) */
@media only screen and (min-width: 320px) and (max-width: 600px) {
    .container {
        bottom: 0;
        margin-top: 0;
        margin-bottom: 28px;
        padding: 5px;
        left: 50%;
    }

    .home, .projects, .about, .contact {
        font-size: 15px;
    }
}

/* Extra small devices (phones, 320px and down) */
@media only screen and (max-width: 320px) {
    .container {
        bottom: 0;
        margin-top: 0;
        margin-bottom: 28px;
        padding: 2px;
        left: 50%;
    }

    .home, .projects, .about, .contact {
        font-size: 12px;
    }
}