.container {
    position: relative;
    margin: 20px 20px 50px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background-color: #292121;
}

.itemGroup {
    position: relative;
    width: auto;
    height: auto;
    display: table;
    align-items: center;
}

.programmerIcon {
    position: relative;
    margin-top: 50px;
    width: 137px;
    height: 116px;
}

.languagesGroup, .toolsGroup, .focusGroup {
    position: relative;
    float: left;
    padding: 40px;
    margin: 20px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.columnGroup {
    display: flex;
    flex-direction: row;
}

.languagesHeader, .toolsHeader, .focusHeader {
    color: #fff;
    font-size: 28px;
    position: relative;
    font-family: "Lilita One", system-ui;
    text-decoration: underline;
}

.column {
    position: relative;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    height: auto;
}

.item {
    color: #fff;
    font-family: "Andika New Basic", system-ui;
    font-size: 24px;
    position: relative;
    padding: 2px;
}

.itemBox {
    position: relative;
    background-color: #ee2323;
    color: #fff;
    border-radius: 10px;
    width: 100px;
    height: auto;
    text-align: center;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-family: "Andika New Basic", system-ui;
    font-size: 24px;
    padding: 5px;
    margin: 5px;
    transition: all .2s ease-in-out;
}

.itemBox:hover {
    transform: scale(1.1);
}

/* Extra small devices (phones, 320px and down) */
@media only screen and (max-width: 320px) {
    .container {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
        background-color: #292121;
    }

    .itemGroup {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .programmerIcon {
        width: 77px;
        height: 76px;
    }

    .languagesGroup, .toolsGroup, .focusGroup {
        padding: 5px;
        margin: 10px;
    }

    .languagesHeader, .toolsHeader, .focusHeader {
        font-size: 20px;
    }

    .item, .itemBox {
        font-size: 14px;
    }
}

/* Extra small devices (phones, 320px and above) */
@media only screen and (min-width: 320px) and (max-width: 600px) {
    .container {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
        background-color: #292121;
    }

    .itemGroup {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .programmerIcon {
        width: 77px;
        height: 76px;
    }

    .languagesGroup, .toolsGroup, .focusGroup {
        padding: 5px;
        margin: 10px;
    }

    .languagesHeader, .toolsHeader, .focusHeader {
        font-size: 24px;
    }

    .item, .itemBox {
        font-size: 16px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 782px) {
    .container {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
        background-color: #292121;
    }

    .itemGroup {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .itemGroup {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .programmerIcon {
        width: 77px;
        height: 76px;
    }

    .languagesGroup, .toolsGroup, .focusGroup {
        padding: 5px;
        margin: 10px;
    }

    .languagesHeader, .toolsHeader, .focusHeader {
        font-size: 24px;
    }

    .item, .itemBox {
        font-size: 16px;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 782px) and (max-width: 924px) {
    .programmerIcon {
        width: 77px;
        height: 76px;
    }

    .languagesGroup, .toolsGroup, .focusGroup {
        padding: 20px;
        margin: 20px;
    }

    .languagesHeader, .toolsHeader, .focusHeader {
        font-size: 20px;
    }

    .item, .itemBox {
        font-size: 14px;
    }
}

/* Medium devices (landscape tablets, 924px and up) */
@media only screen and (min-width: 924px) and (max-width: 997px) {
    .programmerIcon {
        width: 107px;
        height: 106px;
    }

    .item, .itemBox {
        font-size: 16px;
    }
}

/* Large devices (laptops/desktops, 997px and up) */
@media only screen and (min-width: 997px) and (max-width: 1200px) {
    .programmerIcon {
        width: 127px;
        height: 96px;
    }

    .item, .itemBox {
        font-size: 20px;
    }
}