.container {
    position: fixed;
    margin-right: 70px;
    top: calc(20%);
    right: 0;
    transform: translateY(-50%);
    width: auto;
    height: auto;
    z-index: 2;
    display: flex;
}

.twitterIcon, .githubIcon, .linkedinIcon, .emailIcon {
    font-size: 28px;
    position: relative;
    padding: 4px;
    cursor: pointer;
}

.twitterIcon:hover, .githubIcon:hover, .linkedinIcon:hover, .emailIcon:hover {
    transform: scale(1.2);
}

.links {
    color: var(--aquarmine-green-color);
}

.links:hover {
    color: white;
}

/* Medium devices (landscape tablets, 820px and up) */
@media only screen and (max-width: 820px) {
    .container {
        position: fixed;
        margin-right: 5%;
        top: 15%;
        right: 0;
        transform: translateY(-50%);
        width: auto;
        height: auto;
        z-index: 2;
        display: flex;
    }

    .twitterIcon, .githubIcon, .linkedinIcon, .emailIcon {
        font-size: 18px;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .twitterIcon, .githubIcon, .linkedinIcon, .emailIcon {
        font-size: 28px;
        padding: 0 8px 0;
        visibility: hidden;
    }
}