.container {
    position: fixed;
    margin-right: 70px;
    top: calc(20%);
    right: 0;
    transform: translateY(-50%);
    width: auto;
    height: auto;
    z-index: 2;
    display: flex;
}

.twitterIcon, .githubIcon, .linkedinIcon, .emailIcon {
    font-size: 28px;
    position: relative;
    padding: 4px;
    cursor: pointer;
}

.twitterIcon:hover, .githubIcon:hover, .linkedinIcon:hover, .emailIcon:hover {
    transform: scale(1.2);
}

.links {
    color: var(--aquarmine-green-color);
}

.links:hover {
    color: white;
}

/* Large devices (laptops/desktops, 997px and up) */
@media only screen and (max-width: 1200px) {
    .twitterIcon, .githubIcon, .linkedinIcon, .emailIcon {
        font-size: 32px;
        padding: 8px;
    }
}

/* Extra small devices (phones, 320px and above) */
@media only screen and (max-width: 600px) {
    .twitterIcon, .githubIcon, .linkedinIcon, .emailIcon {
        font-size: 28px;
        padding: 0 8px 0;
    }
}

/* Extra small devices (phones, 320px and down) */
@media only screen and (max-width: 320px) {
    .twitterIcon, .githubIcon, .linkedinIcon, .emailIcon {
        font-size: 24px;
        padding: 0 8px 0;
    }
}