.container {
    position: fixed;
    margin-right: 70px;
    top: calc(20%);
    right: 0;
    transform: translateY(-50%);
    width: auto;
    height: auto;
    z-index: 1;
    display: flex;
}

.containerM {
    position: relative;
    width: auto;
    height: auto;
    display: none;
}

.twitterIcon, .githubIcon, .linkedinIcon, .emailIcon {
    font-size: 28px;
    position: relative;
    padding: 4px;
    cursor: pointer;
}

.twitterIcon:hover, .githubIcon:hover, .linkedinIcon:hover, .emailIcon:hover {
    transform: scale(1.2);
}

.links {
    color: var(--aquarmine-green-color);
}

.links:hover {
    color: white;
}

@media only screen and (max-width: 1200px) {
    .container {
        margin-right: 3%;
        top: 15%;
    }

    .twitterIcon, .githubIcon, .linkedinIcon, .emailIcon {
        font-size: 24px;
    }
}

@media only screen and (max-width: 800px) {
    .container {
        margin-right: 5%;
        top: 15%;
    }

    .twitterIcon, .githubIcon, .linkedinIcon, .emailIcon {
        font-size: 24px;
    }
}

@media only screen and (max-width: 600px) {
    .containerM {
        display: flex;
    }

    .container {
        display: none;
    }
}