.greeting, .projectsHeader, .aboutHeader, .contactHeader {
    color: #fff;
    position: relative;
    font-size: 40px;
    margin-top: 20px;
    font-family: "Lilita One", serif;
    width: auto;
    height: auto;
    text-align: center;
    text-shadow: 0 10px 4px #00000040;
}

.aboutHeader {
    margin-top: 40px;
}

.greeting {
    font-size: 45px;
    font-family: "Kaushan Script", cursive;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .greeting, .projectsHeader, .aboutHeader, .contactHeader {
        font-size: 24px;
        text-shadow: 0 10px 4px #00000040;
    }

    .greeting .aboutHeader, .contactHeader {
        margin-top: 20px;
    }

    .greeting {
        font-size: 30px;
    }

    .projectsHeader {
        margin-top: 0;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 924px) {
    .greeting, .projectsHeader, .aboutHeader, .contactHeader {
        font-size: 25px;
        margin-top: 20px;
        text-shadow: 0 10px 4px #00000040;
    }

    .aboutHeader {
        margin-top: 20px;
    }

    .greeting {
        font-size: 30px;
    }
}

/* Medium devices (landscape tablets, 924px and up) */
@media only screen and (min-width: 924px) and (max-width: 997px) {
    .greeting, .projectsHeader, .aboutHeader, .contactHeader {
        font-size: 30px;
        margin-top: 20px;
        text-shadow: 0 10px 4px #00000040;
    }

    .aboutHeader {
        margin-top: 20px;
    }

    .greeting {
        font-size: 40px;
    }
}

/* Large devices (laptops/desktops, 997px and up) */
@media only screen and (min-width: 997px) and (max-width: 1200px) {
    .greeting, .projectsHeader, .aboutHeader, .contactHeader {
        font-size: 35px;
        margin-top: 20px;
        text-shadow: 0 10px 4px #00000040;
    }

    .aboutHeader {
        margin-top: 20px;
    }

    .greeting {
        font-size: 40px;
    }
}