<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link href="../images/logo.png" rel="icon" type="image/x-icon">
    <title>Thank you</title>

    <script type="text/javascript">
        window.history.forward();
    </script>
</head>

<body id="submit-body" onload="scrollFunction()">
<div class="submit-shape">
    <h1 class="submit-title">Form submitted</h1>
    <p class="submit-para">Thank you for getting in contact! <br> I'll get back to you as soon as possible.</p>
</div>
<button id="submit-button" onclick="window.location.href='https://malikheron.000webhostapp.com/index.html';"
        type="submit">Continue
</button>
</body>
</html>