html,
body,
#root {
   margin: 0;
   padding: 0;
   min-height: 100vh;
   width: 100vw;
   height: auto;
   overflow-y: auto;
   overflow-x: hidden;
   font-family: "Inter", system-ui;
   box-sizing: border-box;

   color-scheme: light dark;
   color: rgba(255, 255, 255, 0.87);
   background-color: var(--jet-black-color);

   --fair-black-color: #3B393A;
   --turquoise-green-color: #2AB38A;
   --poppy-red-color: #D14141;
   --anti-flash-white-color: #F0F0F0;
   --aquamarine-green-color: #4CE0B3;
   --jet-black-color: #2F2D2E;
   --silver-color: #CDCDCD;
   --semi-transparent: rgba(0, 0, 0, 9);
}

#root {
   position: relative;
   width: 100vw;
   height: 100vh;
   overflow-x: hidden;
   overflow-y: auto;
   scroll-snap-type: y mandatory;
   scroll-snap-stop: always;
   scroll-behavior: smooth;

   @media screen and (max-width: 600px) {
      scroll-snap-type: none;
      scroll-snap-stop: normal;
      scroll-behavior: auto;
   }
}

button:not(:disabled) {
   cursor: pointer;
   -webkit-user-select: none;
   user-select: none;
}

label {
   cursor: pointer;
   -webkit-user-select: none;
   user-select: none;
}

section {
   position: relative;
   margin-left: 5%;
   margin-right: 5%;
   max-height: 100vh;
   max-width: 80%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   height: 100vh;
   scroll-snap-align: start;

   @media screen and (max-width: 1024px) {
      align-items: center;
      margin-right: 10%;
      margin-left: 10%;
   }

   @media screen and (max-width: 600px) {
      height: auto;
      margin: auto;
      max-width: 90%;
      margin-bottom: 5em;
   }

   h1 {
      color: var(--aquamarine-green-color);
      font-family: Lora, system-ui;
      display: block;
      font-weight: bold;
      font-size: 2.5em;

      @media screen and (max-width: 600px) {
         font-size: 2em;
      }
   }

   h2 {
      font-size: 1.8em;
      font-family: Lora, system-ui;
      font-weight: normal;
      margin-block-start: 0.5em;
      margin-block-end: 0.3em;
      color: white;
   }

   h3 {
      display: block;
      font-size: 1.17em;
      margin-block-start: 0.1em;
      margin-block-end: 1em;
      font-weight: bold;
      color: white;
   }

   p {
      display: block;
      margin-block-start: 1em;
      margin-block-end: 1em;
      color: white;
   }

   input,
   textarea {
      font-family: "Inter", system-ui;
      background-color: var(--fair-black-color);
      color: white;
   }
}

footer p {
   position: fixed;
   bottom: 0;
   right: 2%;
}

::placeholder {
   color: darkgray;
   opacity: 1;
}

@media screen and (min-width: 850px) {
   ::-webkit-scrollbar {
      width: 2px;
   }

   ::-webkit-scrollbar-track {
      background: #000000;
   }

   ::-webkit-scrollbar-thumb {
      background: #ffffff;
   }

   ::-webkit-scrollbar-thumb:hover {
      background: #ffffff;
   }
}

@media only screen and (max-width: 1200px) {
   footer p {
      font-size: 1em;
   }
}

@media only screen and (max-width: 800px) {
   footer p {
      font-size: 0.9em;
   }
}

@media only screen and (max-width: 600px) {
   footer p {
      position: relative;
      bottom: unset;
      right: unset;
      text-align: center;
   }
}

@media (prefers-color-scheme: dark) {
   a:hover {
      color: var(--sophie-blue);
   }

   button {
      background-color: #f9f9f9;
   }
}