.root {
    position: absolute;
    width: 100vw;
    height: 100vh;
    align-items: flex-start;
    background-color: #fff;
    overflow-y: auto;
    overflow-x: hidden;
}

.NavBarShape {
    position: sticky;
    top: 28px;
    width: auto;
    height: auto;
    padding: 5px;
    box-shadow: 2px 2px 10px 2px rgba(70, 70, 70, 0.8);
    border-radius: 10px;
    background-color: #fff;
    margin: 0 auto;
    display: table;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.home, .projects, .about, .contact {
    color: #000;
    font-size: 18px;
    font-family: "Inter", system-ui;
    position: relative;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    float: left;
    margin: 0 auto;
    padding: 10px;
}

.introBackgroundShape {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    width: 100vw;
    height: 500px;
    background-color: #546c82;
}

.greeting {
    color: #fff;
    font-size: 45px;
    font-family: "Kaushan Script", cursive;
    position: absolute;
    width: auto;
    height: auto;
    margin-bottom: 16%;
    text-align: center;
    flex-direction: row;
}

.introduction {
    color: #fff;
    font-size: 24px;
    font-family: "Andika New Basic", system-ui;
    position: absolute;
    width: auto;
    height: auto;
    margin: 15% 18% 18%;
    text-align: center;
    flex-direction: row;
}

.introSocials {
    position: absolute;
    right: 100px;
    top: 35px;
    width: auto;
    height: auto;
    display: table;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.instagramIcon, .githubIcon, .linkedinIcon {
    font-size: 36px;
    position: relative;
    float: left;
    margin: 0 auto;
    padding: 10px;
}

.featuredProjectsBackground {
    position: absolute;
    left: 50px;
    right: 50px;
    top: 320px;
    width: auto;
    height: 530px;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-radius: 20px;
    overflow: hidden;
    background-color: #292121;
}

.featuredProjectsHeader, .aboutHeader {
    color: #fff;
    position: absolute;
    font-size: 40px;
    font-family: "Lilita One", serif;
    top: 20px;
    width: min-content;
    height: min-content;
    text-align: center;
    text-shadow: 0 10px 4px #00000040;
    white-space: nowrap;
    margin: 0 auto;
}

.projectCards {
    position: relative;
    top: 20px;
    margin: 0 auto;
    width: auto;
    height: auto;
    display: table;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.projectCard1, .projectCard2, .projectCard3 {
    position: relative;
    width: 400px;
    height: 342px;
    border-radius: 20px;
    float: left;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-right: 30px;
}

.projectCard1 {
    background-color: #fff;
}

.projectCard2 {
    background-color: #ee2323;
}

.projectCard3 {
    background-color: #ffc555;
}

.aboutBackgroundShape {
    position: absolute;
    top: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    width: 100vw;
    height: 550px;
    background-color: #546c82;
}

.aboutDescription {
    position: absolute;
    color: #fff;
    font-size: 24px;
    font-family: "Andika New Basic", system-ui;
    width: auto;
    height: auto;
    top: 80px;
    text-align: center;
    flex-direction: row;
}

.aboutOverviewShape {
    position: absolute;
    left: 50px;
    right: 50px;
    top: 350px;
    width: auto;
    height: 600px;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-radius: 20px;
    overflow: hidden;
    background-color: #292121;
}

.programmerIcon {
    position: absolute;
    top: 50px;
    width: 137px;
    height: 116px;
    background-image: url('public/assets/programmer.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.languagesGroup, .toolsGroup, .focusGroup {
    position: absolute;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.languages, .tools, .focus {
    color: #fff;
    font-size: 28px;
    position: relative;
    padding: 10px;
    font-family: "Lilita One", system-ui;
    text-decoration: underline;
}

.languagesGroup {
    left: 50px;
    bottom: 35px;
}

.languages {
    left: 50px;
}

.toolsGroup {
    margin: 0 auto;
    bottom: 35px;
}

.tools {
    margin: 0 auto;
}

.focusGroup {
    right: 50px;
    margin: 0 0 -45px 0;
}

.focus {
    right: 50px;
}

.vSCode, .webstorm, .pycharm, .intellij, .github, .androidStudio, .figma {
    color: #fff;
    font-family: "Andika New Basic", system-ui;
    font-size: 24px;
    position: relative;
    margin: 0 auto;
    padding: 2px;
}

.mobileAppDevelopment, .userInterfaceDesign, .userExperienceDesign, .webDevelopment {
    color: #fff;
    font-family: "Andika New Basic", system-ui;
    font-size: 24px;
    position: relative;
    right: 50px;
    padding: 2px;
}













.outerOutline {
    position: absolute;
    left: 0;
    top: 2809px;
    width: 100vw;
    height: 949px;
    background-color: #546c82;
}

.name {
    position: absolute;
    left: 491px;
    top: 3232px;
    width: 385px;
    height: 77px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 10px 4px 0 #00000040;
}

.email {
    position: absolute;
    right: 491px;
    top: 3232px;
    width: 385px;
    height: 77px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 10px 4px 0 #00000040;
}

.message {
    position: absolute;
    left: calc(50% - 0.0247px);
    top: 3354.5714px;
    width: 937.9505px;
    height: 306.4286px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 10px 4px 0 #00000040;
    transform: translateX(-50%);
}

.writeSomething {
    color: #000;
    font-size: 24px;
    font-family: "Andika New Basic", system-ui;
    position: absolute;
    left: 475px;
    top: 3372px;
    width: 279px;
    height: 40px;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.yourName {
    color: #000;
    font-size: 24px;
    font-family: "Andika New Basic", system-ui;
    position: absolute;
    left: 512px;
    top: 3244px;
    width: 122px;
    height: 40px;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.emailAddress {
    color: #000;
    font-size: 24px;
    font-family: "Andika New Basic", system-ui;
    position: absolute;
    left: 1071px;
    top: 3244px;
    width: 165px;
    height: 40px;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.feelFreeToSendMeAMessageILookF {
    color: #fff;
    font-size: 35px;
    font-family: "Andika New Basic", system-ui;
    position: absolute;
    left: calc(50% - 0.5px);
    top: 3071px;
    width: 815px;
    height: min-content;
    text-align: center;
    align-items: center;
    flex-direction: column;
    transform: translateX(-50%);
}

.letSGetInTouch {
    color: #fff;
    font-size: 60px;
    font-family: Lilita One, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    position: absolute;
    left: 50%;
    top: 2894px;
    width: min-content;
    height: min-content;
    text-align: center;
    align-items: center;
    text-shadow: 0 10px 4px #00000040;
    white-space: nowrap;
    flex-direction: column;
    transform: translateX(-50%);
}

.instagram1 {
    position: absolute;
    left: 996px;
    top: 3005px;
    width: 45px;
    height: 47px;
}

.icon {
    width: 100%;
    height: 100%;
}

.github1 {
    position: absolute;
    left: 936px;
    top: 3004px;
    width: 44px;
    height: 45.4195px;
}

.icon2 {
    width: 100%;
    height: 100%;
}

.linkedin1 {
    position: absolute;
    left: 880px;
    top: 3002px;
    width: 44px;
    height: 50.2857px;
}

.icon3 {
    width: 100%;
    height: 100%;
}

.AllRightsReserved {
    color: #fff;
    font-size: 30px;
    font-family: Andika New Basic, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    position: absolute;
    left: calc(50% - -0.5px);
    top: 3678px;
    width: min-content;
    height: min-content;
    text-align: center;
    align-items: center;
    white-space: nowrap;
    flex-direction: column;
    transform: translateX(-50%);
}

.c {
    position: absolute;
    left: 142px;
    top: 2256px;
    width: 202px;
    height: 71px;
    overflow: visible;
}

.icon4 {
    width: 100%;
    height: 100%;
}

.cSS {
    position: absolute;
    left: 142px;
    top: 2354px;
    width: 202px;
    height: 71px;
    overflow: visible;
}

.icon5 {
    width: 100%;
    height: 100%;
}

.hTML {
    position: absolute;
    left: 142px;
    top: 2452px;
    width: 202px;
    height: 71px;
    overflow: visible;
}

.icon6 {
    width: 100%;
    height: 100%;
}

.jAVA {
    position: absolute;
    left: 142px;
    top: 2550px;
    width: 202px;
    height: 71px;
    overflow: visible;
}

.icon7 {
    width: 100%;
    height: 100%;
}

.kOTLIN {
    position: absolute;
    left: 389px;
    top: 2256px;
    width: 202px;
    height: 71px;
    overflow: visible;
}

.icon8 {
    width: 100%;
    height: 100%;
}

.pYTHON {
    position: absolute;
    left: 389px;
    top: 2354px;
    width: 202px;
    height: 71px;
    overflow: visible;
}

.icon9 {
    width: 100%;
    height: 100%;
}

.sQL {
    position: absolute;
    left: 389px;
    top: 2452px;
    width: 202px;
    height: 71px;
    overflow: visible;
}

.icon10 {
    width: 100%;
    height: 100%;
}

.xML {
    position: absolute;
    left: 389px;
    top: 2550px;
    width: 202px;
    height: 71px;
    overflow: visible;
}

.icon11 {
    width: 100%;
    height: 100%;
}

.icon13 {
    width: 100%;
    height: 100%;
}

.icon14 {
    width: 100%;
    height: 100%;
}

.icon15 {
    width: 100%;
    height: 100%;
}

.icon16 {
    position: absolute;
    width: 166px;
    height: 242px;
    background-image: url('public/assets/konnect.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.icon17 {
    position: absolute;
    width: 221px;
    height: 219px;
    border-radius: 40px;
    background-image: url('public/assets/download_calculator.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.icon18 {
    position: absolute;
    width: 209px;
    height: 213px;
    border-radius: 40px;
    background-image: url('/public/assets/best_tv.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.highlight {
    position: absolute;
    left: calc(50% - 173px);
    top: 40px;
    width: 95px;
    height: 43px;
    border-radius: 8px;
    background-color: #d3d3d3;
    transform: translateX(-50%);
}
